<!DOCTYPE html>

<html lang="en">

<head>
    
</head>

<body>
    <h1>For VIP users</h1> <br>
    <form action="#", method="post">
        <label for="url">Enter an https:// URL:</label>
        <input type="url" name="VIPname" id="url" 
            placeholder="https://example.com"
            pattern="https://.*" 
            size="50"    
            required> <br>
        <label for="url">Enter your url name:</label>
        <input type="text" name="newname" id="newurl" 
            placeholder="new name" 
            size="50"    
            required> <br>   
        <input type="submit" value="submit"> 
    </form>
</body>

</html>